<!doctype html>
<meta charset=utf-8>
<title>{% block title %}{% endblock %}</title>
<link rel=stylesheet media=screen href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel=stylesheet media=screen href="{{ url_for('static', filename='css/slist.css') }}">
<div class=container>
    <p></p>
    <div class="row">
        <div class="col-lg-6">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/slist.js') }}"></script>

