{% extends 'layout.jinja' %}

{% block title %}Lists{% endblock %}
{% block content %}
    <p>
        <a href='/lists' class="btn btn-primary" type="button">Profile</a>
        <a href='#' class="btn btn-success" type="button">New List</a>
    </p>
    <p><ul class="list-group">
        {% for list in lists %}
            <li class="list-group-item">
                <a href='#' type="button" class="btn btn-danger">X</a>
                <a href='/lists/{{list[0]}}/items'><strong>{{list[1]['name']}}</strong></a>
                <span class="badge">{{list[1]['items']|length}}</span>
            </li>
        {% endfor %}
    </ul></p>
{% endblock %}
